.abstract {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.abstractMessage {
  width: 40%;
  font-size: 20px;
  line-height: 34px;
  min-height: 300px;
  padding: 3rem;
}
.abstractMessage::first-letter {
  font-size: 120px;
  line-height: 60px;

  padding-top: 15px;
  padding-right: 8px;
  padding-left: 0px;
  float: left;

  font-weight: bold;
}

@media (max-width: 768px) {
  .abstractMessage {
    width: 100%;
  }
}
