.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutMe {
  margin: 4.5rem;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 5rem;
  width: 100%;
}

.counter {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #4830e6;
  width: 100%;
}

.counterRow {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 32px;
  padding-left: 32px;
  display: flex;
}

.skillCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
    padding-right: 8px;
    padding-left: 8px;
}

.leftHeader {
  width: 50%;
  height: 100%;
  flex: 1;
  background-color: #fff;
}

.rightHeader {
  width: 50%;
  height: 100%;
  flex: 1;
  background-color: #036d80;
}

.circle {
  border-radius: 100%;
  width: 18rem;
  background-color: rebeccapurple;
  height: 18rem;
  position: absolute;
  background-image: url("/morata.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 2px 8px rgba(0,0,0,.26);
}

.intro {
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.name {
  position: absolute;
  top: 10%;
  right: 5%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
