.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 620px;
  margin: 4.5rem 0;
}

.aboutMe {
  /* margin: 4.5rem; */
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 5rem;
  width: 80%;
    min-width: 300px;
}

.abstract {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  
}

.abstractMessage {
  width: 40%;
  font-size: 20px;
  line-height: 34px;
  min-height: 300px;
  padding: 3rem;
}
.abstractMessage::first-letter {
  font-size: 120px;
  line-height: 60px;

  padding-top: 15px;
  padding-right: 8px;
  padding-left: 0px;
  float: left;

  font-weight: bold;
}

.listItem {
  /* padding: 10px;
  width: 100%; */
}

.contacts {
  flex-direction: column;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 0 3rem;

}

.counter {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #1d2228;
  color: white;
  width: 100%;
}

.counterRow {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 32px;
  padding-left: 32px;
  display: flex;
}

.skillCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
    padding-right: 8px;
    padding-left: 8px;
}

.skillNumber {
  font-size: 48px;
}

.skillName {
  font-size: 24px;
}

.leftHeader {
  width: 50%;
  height: 100%;
  flex: 1;
  background-color: #1d2228;
}

.rightHeader {
  width: 50%;
  height: 100%;
  flex: 1;
  /* background-color: #036d80; */
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.circle {
  border-radius: 100%;
  width: 18rem;
  background-color: rebeccapurple;
  height: 18rem;
  position: absolute;
  background-image: url("/morata.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 2px 8px rgba(0,0,0,.26);
}

.intro {
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.name {
  position: absolute;
  top: 10%;
  right: 5%;
}
.name h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

.name h5 {
  font-size: 1.5rem;
  text-align: right;
  margin: 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
